{% extends 'bartocgraphql/layouts/base.html' %}

{% load filter %}

{% block content %}
  <h2>About</h2>
  <p> FAST is a federated asynchronous search tool which uses GraphQL to conduct asyncronous federated searches accessing {{ federation|get_len }} remote resources comprising over 3000 vocabularies. This service is being developed by the <a href="https://www.ub.unibas.ch/ub-hauptbibliothek/"> University Library Basel</a>. For more information on the API, please visit our <a href="https://github.com/MHindermann/bartocgraphql"> GitHub repository</a>. If you encounter any problems or have improvement ideas, please contact us.</p>
  <p>On the {% now "jS \o\f F, Y" %} FAST has access to the following resources:</p>
  <div class="table-responsive">
    <table class="table table-hover table-sm text-left" >
      <thead class="thead-light">
        <tr>
          <th>Nr</th>
          <th>Name</th>
          <th>Type</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for resource in federation %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ resource.name }}</td>
          <td>{{ resource|get_type }}</td>
          <td><a href="{{ resource.url }}">{{ resource.url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>    
    </table>
  </div>
{% endblock %}


