{% extends 'bartocgraphql/layouts/base.html' %}

{% block content %}
  <h2>Basic Search</h2>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor <code>invidunt</code> ut labore et dolore magna aliquyam erat.</p>
  <form action="" type="post" class="was-validated">
	  {% for field in form %}
	  <div class="form-group">
	      {{ field.label_tag }} {{ field }}
		  <div class="valid-feedback">Valid.</div>
		  <div class="invalid-feedback">Please fill out this field.</div>
		      {% if field.help_text %}
			  <small class="form-text text-muted">{{ field.help_text }}</small>
			  {% endif %}			
	  </div>
	  {% endfor %}
	  <button type="submit" class="btn btn-primary">Search</button>
  </form>
{% endblock %}
